mixin item(title, url)
    li
        a(href=url, class=active == title ? 'active' : '')= title

mixin iconSvg(w, h, wp, id)
    svg(width=w height=h viewBox=wp class=id)
        use(xlink:href="/images/icons/sprites.svg#"+id)

mixin iconSvgSocial(w, h, wp, id)
    svg(width=w height=h viewBox=wp class=id)
        use(xlink:href="/src/blocks/social-link/assets/img/social-sprites.svg#" + id)